* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

body {
    min-height: 2800px;
}


/* Navigation */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: rgb(18, 66, 80);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 3px;

}

.navbar .navbar-nav a:hover {
    color: rgb(23, 99, 122);
    text-decoration: none;
    transition: 0.2s linear;
}

.navbar .navbar-nav a:after {
    content: '';
    display: block;
    padding-bottom: 8px;
    border-bottom: 2px solid rgb(23, 99, 122);
    transform: scaleX(0);
    transition: 0, 2s linear;
}

.navbar .navbar-nav a:hover::after {
    ;
    transform: scale(0.5);
    transition: 0.2s linear;
}

/* Home Section */


.hero {
    margin-top: 50px;
    margin-bottom: 550px;
    padding: 50px;
}


/* Auto SLide Banner */

.container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}

.wrapper {
    display: flex;
    scroll-snap-align: start;
    object-fit: cover;

}

.wrapper img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    flex: 1 0 100%;
    animation: slide 20s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
}



/* Text Welcome */
#name-input {
    ;
    width: 200px;
    height: 30px;
    font-weight: 500;
    background: rgba(225, 225, 225, 0.5);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#submit {
    width: 70px;
    height: 30px;
    background: rgba(225, 225, 225, 0.9);
    border: none;
    border-radius: 30px;
    cursor: p
}

#name-input {
    padding-left: 10px;
}

.banner-text {
    position: absolute;
    top: 30%;
    color: #fff;
}

@media screen and (max-width:1300px) {
    .wrapper {
        width: 100%;
    }
}

/* About Section */

.about {
    padding: 100px 0;
    border-bottom: 1px solid black;
}

.about h1 {
    color: rgb(18, 66, 80);
    text-align: center;
    font-size: 40px;
}

/* Img About */
.about .about-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}


.about-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 50px 50px;

}

.about .about-flex .content {
    display: flex;
    flex-wrap: wrap;
}

.about .about-flex .content h2 {
    padding-bottom: 20px;
    color: rgb(18, 66, 80);
}

.about .about-flex .content p {
    font-size: 17px;
    margin-bottom: 30px;
}


/* Profil Section */

.profil {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 50px;
    position: relative;
    flex-wrap: wrap;
}

.profil-section img {
    width: 500px;
    height: 300px;
    margin-top: 20px;
    padding-right: 50px;
    padding-top: 0px;
}

.profil .profil-content {
    flex-wrap: wrap;
}

.profil .profil-content h2 {
    color: rgb(18, 66, 80);
    padding-bottom: px;
}

.profil .profil-content {
    font-size: 17px;
    margin-bottom: 30px;
    padding: 50px
}




/* Message Section */

.message {
    height: 800px;
    padding: 30px;
    background-color: rgb(230, 231, 231);
}
.message h1 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 30px;
    color: rgb(18, 66, 80);
}

.message-form {
    position: absolute;
    padding: 50px;
    border: 1px solid black;
    width: 400px;
    border-radius: 20px;
}

/* Form Items */

.message-form #name {
    border-radius: 30px;
    width: 300px;
    padding:0 10px;
}

.message-form #tanggal {
    border-radius: 30px;
    width: 300px;
    padding:0 10px;
}
.message-form #pesan {
    border-radius: 20px;
    width: 300px;
    height: 100px;
    padding:10px 10px;
}
.message-form #submit {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background: rgb(18, 66, 80);
    color: #fff;
}

/* Result Form */

.message .output {
    display: flex;
    flex-direction : column;
    align-items: start;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 40%;
    padding: 20px 60px;
    height: 415px;
}

.message .output h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(18, 66, 80);
}

/* Footer Section */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: rgb(18, 66, 80);
    height: 140px;
    color: #fff;
}
.footer .social-icons a{
    color: #fff;
    transition: 0.3s ease;
}
.footer .policy a{
    color: #fff;
    transition: 0.3s ease;
}

.footer .social-icons a:hover{
    color: rgb(0, 132, 255);
}

footer .policy a:hover{
    color: rgb(0, 132, 255);
}



@media screen and (max-width: 750px){
    .message {
        height: 1200px;
    }
    .message .output {
        display: flex;
        flex-direction : column;
        align-items: start;
        border: 1px solid black;
        border-radius: 20px;
        margin-top: 140%;
        margin-left: 0%;
        margin-right: 17px;
        padding: 20px 60px;
        height: 415px;
        font-size: 18px;
    }
    
}


@media (max-width:650px) {
    .about .about-flex, t{
        flex-wrap: wrap;
    }
    .footer {
        flex-direction: column;
        gap: 20px;
    }
    

}